# {{- $chezmoiForce := or (has "--force" .chezmoi.args) (has "--force=true" .chezmoi.args) -}}
# {{- $interactive := and stdinIsATTY (not $chezmoiForce) -}}
# {{- $ubuntu := hasKey .chezmoi.osRelease "ubuntuCodename" -}}
# {{- $wsl := or (env "WSL_DISTRO_NAME") (env "IS_WSL") | not | not -}}
# {{- $devcontainer := or (env "REMOTE_CONTAINERS") (env "CODESPACES") (env "VSCODE_REMOTE_CONTAINERS_SESSION") (env "GITPOD_HOST") | not | not -}}
# {{- $gnome := lookPath "gnome-shell" | not | not -}}
# {{- $cpuCores := 1 -}}
# {{- $cpuThreads := 1 -}}
# {{- if eq .chezmoi.os "darwin" -}}
# {{-   $cpuCores = (output "sysctl" "-n" "hw.physicalcpu_max") | trim | atoi -}}
# {{-   $cpuThreads = (output "sysctl" "-n" "hw.logicalcpu_max") | trim | atoi -}}
# {{- else if eq .chezmoi.os "linux" -}}
# {{-   $cpuCores = (output "sh" "-c" "lscpu --online --parse | grep --invert-match '^#' | sort --field-separator=',' --key='2,4' --unique | wc --lines") | trim | atoi -}}
# {{-   $cpuThreads = (output "sh" "-c" "lscpu --online --parse | grep --invert-match '^#' | wc --lines") | trim | atoi -}}
# {{- else if eq .chezmoi.os "windows" -}}
# {{-   $cpuCores = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "(Get-CimInstance -ClassName 'Win32_Processor').NumberOfCores") | trim | atoi -}}
# {{-   $cpuThreads = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "(Get-CimInstance -ClassName 'Win32_Processor').NumberOfLogicalProcessors") | trim | atoi -}}
# {{- end -}}

# {{- $upgrade_packages := false -}}
# {{- if and (hasKey . "system") (hasKey .system "upgrade_packages") -}}
# {{-   $upgrade_packages = .system.upgrade_packages -}}
# {{- else -}}
# {{-   if eq (env "DOTFILES_UPGRADE_PACKAGES") "true" "True" "TRUE" "1" -}}
# {{-     $upgrade_packages = true -}}
# {{-   end -}}
# {{- end -}}

# {{- $verbose := false -}}
# {{- if and (hasKey . "system") (hasKey .system "verbose") -}}
# {{-   $verbose = .system.verbose | not | not -}}
# {{- else -}}
# {{-   if eq (env "DOTFILES_VERBOSE") "true" "True" "TRUE" "1" -}}
# {{-     $verbose = true -}}
# {{-   end -}}
# {{- end -}}

# {{- $hostname := or (env "SYSTEM_HOSTNAME") .chezmoi.hostname -}}
# {{- if and (hasKey . "system") (hasKey .system "hostname") .system.hostname -}}
# {{-   $hostname = .system.hostname -}}
# {{- end -}}

# {{- $dockerfiles_share_dir := joinPath .chezmoi.homeDir ".local/share/dockerfiles" -}}

# {{- $workspace_location := "" -}}
# {{- $workspace_name := "workspace" -}}
# {{- $workspace_root := joinPath $workspace_location $workspace_name -}}
# {{- $symlink_colab_workspace := false -}}
# {{-   if and (hasKey . "workspace") (hasKey .workspace "symlink_colab_workspace") -}}
# {{-     $symlink_colab_workspace = .workspace.symlink_colab_workspace -}}
# {{-   end -}}
# {{- $symlink_to_home := true -}}

# {{- $use_ngrok := false -}}
# {{- if eq (env "DOTFILES_USE_NGROK") "true" "True" "TRUE" "1" -}}
# {{-   $use_ngrok = true -}}
# {{- end -}}
# {{- $ngrok_authtoken := or (env "NGROK_AUTHTOKEN") "" -}}
# {{- if and (hasKey . "ngrok") (hasKey .ngrok "authtoken") -}}
# {{-   $ngrok_authtoken = .ngrok.authtoken -}}
# {{- end -}}
# {{- $ngrok_ssh_port := or (env "NGROK_SSH_PORT") "22" -}}
# {{- if and (hasKey . "ngrok") (hasKey .ngrok "ssh_port") -}}
# {{-   $ngrok_ssh_port = .ngrok.ssh_port -}}
# {{- end -}}
# {{- $ngrok_config_file := or (env "NGROK_CONFIG") (joinPath .chezmoi.homeDir ".config/ngrok/ngrok.yml") -}}

# {{- $use_cloudflared := false -}}
# {{- if eq (env "DOTFILES_USE_CLOUDFLARED") "true" "True" "TRUE" "1" -}}
# {{-   $use_cloudflared = true -}}
# {{- end -}}
# {{- if and (hasKey . "cloudflared") (hasKey .cloudflared "enabled") -}}
# {{-   $use_cloudflared = .cloudflared.enabled -}}
# {{- end -}}
# {{- $cloudflared_tunnel_uuid := or (env "CLOUDFLARED_TUNNEL_UUID") "" -}}
# {{- if and (hasKey . "cloudflared") (hasKey .cloudflared "tunnel_uuid") -}}
# {{-   $cloudflared_tunnel_uuid = .cloudflared.tunnel_uuid -}}
# {{- end -}}
# {{- $cloudflared_tunnel_name := or (env "CLOUDFLARED_TUNNEL_NAME") "" -}}
# {{- if and (hasKey . "cloudflared") (hasKey .cloudflared "tunnel_name") -}}
# {{-   $cloudflared_tunnel_name = .cloudflared.tunnel_name -}}
# {{- end -}}
# {{- $cloudflared_tunnel_hostname := or (env "CLOUDFLARED_TUNNEL_HOSTNAME") "" -}}
# {{- if and (hasKey . "cloudflared") (hasKey .cloudflared "tunnel_hostname") -}}
# {{-   $cloudflared_tunnel_hostname = .cloudflared.tunnel_hostname -}}
# {{- end -}}
# {{- $cloudflared_config_file := or (env "CLOUDFLARED_CONFIG") (joinPath .chezmoi.homeDir ".cloudflared/config.yml") -}}
# {{- $cloudflared_config_template := (joinPath .chezmoi.homeDir ".cloudflared/config.tmp") -}}
# {{- $cloudflared_credentials_file := "" -}}

# {{- $dotfiles_version := or (env "DOTFILES_VERSION") "N/A" -}}
# {{- writeToStdout "---\n" -}}
# {{- writeToStdout "🖥️  Information found in your system environment variables:\n" -}}
# {{- writeToStdout (printf "🏠  SYSTEM_HOSTNAME: %s\n" $hostname) -}}
# {{- writeToStdout (printf "🔬  DOTFILES_VERBOSE: %t\n" ($verbose | not | not)) -}}
# {{- writeToStdout "---\n" -}}

# {{- if $interactive -}}
# {{-   $question := "❔ Do you want to upgrade packages if needed" -}}
# {{-   $upgrade_packages = promptBool $question $upgrade_packages -}}
# {{- end -}}
# {{- if $upgrade_packages -}}
# {{-   writeToStdout "✅  Upgrade packages enabled\n" -}}
# {{- else -}}
# {{-   writeToStdout "❎  Upgrade packages disabled\n" -}}
# {{- end -}}

# {{- if $interactive -}}
# {{-   $question := "❔ Do you want to enable verbose mode" -}}
# {{-   $verbose = promptBool $question $verbose -}}
# {{- end -}}
# {{- if $verbose -}}
# {{-   writeToStdout "✅  Verbose mode enabled\n" -}}
# {{- else -}}
# {{-   writeToStdout "❎  Verbose mode disabled\n" -}}
# {{- end -}}

# {{- if $interactive -}}
# {{-   range $i := until 99 -}}
# {{-     $question := "❔ What is hostname" -}}
# {{-     $answer := "" -}}
# {{-     if $hostname -}}
# {{-       $answer = promptString $question $hostname -}}
# {{-     else -}}
# {{-       $answer = promptString $question -}}
# {{-     end -}}
# {{-     if regexMatch "^[A-Za-z0-9._-]+$" $answer -}}
# {{-       $hostname = $answer -}}
# {{-       break -}}
# {{-     end -}}
# {{-     writeToStdout (printf "❌ '%s' is an invalid hostname\n" $answer) -}}
# {{-     if eq $i 98 -}}
# {{-       writeToStdout "❌ ERROR: maximum tries exceeded\n" -}}
# {{-       exit 1 -}}
# {{-     end -}}
# {{-   end -}}
# {{- end -}}
# {{- writeToStdout (printf "✅  Hostname set as '%s'\n" $hostname) -}}

# {{- if $workspace_existing -}}
# {{- if $wsl -}}
# {{-   if eq $winhome_existing $winhome -}}
# {{-     $workspace_location = $workspace_existing -}}
# {{-   else -}}
# {{-     $workspace_location = $winhome -}}
# {{-   end -}}
# {{- else -}}
# {{-   $workspace_location = $workspace_existing -}}
# {{- end -}}
# {{- end -}}
# {{- if $interactive -}}
# {{-   $question := "❔ Where do you want to put your workspace" -}}
# {{-   $answer := "" -}}
# {{-   if $workspace_location -}}
# {{-     $answer = promptString $question $workspace_location -}}
# {{-   else -}}
# {{-     $answer = promptString $question -}}
# {{-   end -}}
# {{-   $workspace_location = $answer -}}
# {{- end -}}
# {{- writeToStdout (printf "✅  Worksapce location set as '%s'\n" $workspace_location) -}}

# {{- $workspace_root = joinPath $workspace_location $workspace_name -}}
# {{-   writeToStdout (printf "✅  Worksapce root set as '%s'\n" $workspace_root) -}}
# {{- if $symlink_to_home -}}
# {{-   $workspace_home = joinPath .chezmoi.homeDir $workspace_name -}}
# {{- else -}}
# {{-   $workspace_home = joinPath $workspace_location $workspace_name -}}
# {{- end -}}
# {{-   writeToStdout (printf "✅  Worksapce root symlinked to '%s'\n" $workspace_home) -}}
# {{- $container_dir := joinPath $workspace_home "containers" -}}

# {{- if $interactive -}}
# {{-   $question := "❔ Do you want to symlink workspace to colab default google drive directory to maintain persistence across sessions" -}}
# {{-   $symlink_colab_workspace = promptBool $question $symlink_colab_workspace -}}
# {{- end -}}
# {{- if $symlink_colab_workspace -}}
# {{-   writeToStdout "✅  Colab workspace symlinked to workspace root\n" -}}
# {{- else -}}
# {{-   writeToStdout "❎  Colab workspace not symlinked\n" -}}
# {{- end -}}

# {{- if $use_cloudflared -}}
# {{-   writeToStdout "✅  cloudflared enabled\n" -}}
# {{- else -}}
# {{-   writeToStdout "❎  cloudflared disabled\n" -}}
# {{- end -}}

# {{- if $use_ngrok -}}
# {{-   writeToStdout "✅  ngrok enabled\n" -}}
# {{- else -}}
# {{-   writeToStdout "❎  ngrok disabled\n" -}}
# {{- end -}}
# {{- if and $interactive $use_ngrok -}}
# {{-   $question := "❔ What is your ngrok authtoken" -}}
# {{-   $answer := "" -}}
# {{-   if $ngrok_authtoken -}}
# {{-     $answer = promptString $question $ngrok_authtoken -}}
# {{-   else -}}
# {{-     $answer = promptString $question -}}
# {{-   end -}}
# {{-   $ngrok_authtoken = $answer -}}
# {{- end -}}
# {{- if $use_ngrok -}}
# {{-   if $ngrok_authtoken -}}
# {{-     writeToStdout "✅  ngrok authtoken set as '***'\n" -}}
# {{-   else -}}
# {{-     writeToStdout "❎  ngrok authtoken not set\n" -}}
# {{-   end -}}
# {{- end -}}

# {{- if and $interactive $use_ngrok -}}
# {{-   $question := "❔ What is your ssh service port for ngrok" -}}
# {{-   $answer := "" -}}
# {{-   if $ngrok_ssh_port -}}
# {{-     $answer = promptString $question $ngrok_ssh_port -}}
# {{-   else -}}
# {{-     $answer = promptString $question -}}
# {{-   end -}}
# {{-   $ngrok_ssh_port = $answer -}}
# {{- end -}}
# {{- if $use_ngrok -}}
# {{-   if $ngrok_ssh_port -}}
# {{-     writeToStdout (printf "✅  ngrok ssh port set as '%s'\n" $ngrok_ssh_port) -}}
# {{-   else -}}
# {{-     writeToStdout "❎  ngrok ssh port not set\n" -}}
# {{-   end -}}
# {{- end -}}

# {{- if $use_python_tools -}}
# {{-   writeToStdout "✅  python tools enabled\n" -}}
# {{- else -}}
# {{-   writeToStdout "❎  python tools disabled\n" -}}
# {{- end -}}

# {{- if $use_ngrok -}}
# {{-   $pkgs_user = printf "%s ngrok" $pkgs_user -}}
# {{- end -}}
# {{- if $use_cloudflared -}}
# {{-   $pkgs_user = printf "%s cloudflared" $pkgs_user -}}
# {{- end -}}

# {{- if $interactive -}}
# {{-   $question := "❔ What are the additional packages to install (input as space separated list, ex: git curl)" -}}
# {{-   $answer := "" -}}
# {{-   if $pkgs_user -}}
# {{-     $answer = promptString $question $pkgs_user -}}
# {{-   else -}}
# {{-     $answer = promptString $question -}}
# {{-   end -}}
# {{-   $pkgs_user = $answer -}}
# {{- end -}}
# {{- $pkgs_user = trim $pkgs_user -}}
# {{- if $pkgs_user -}}
# {{-   writeToStdout (printf "✅  Additional packages to install set as \n    '%s'\n" $pkgs_user) -}}
# {{- else -}}
# {{-   writeToStdout "❎  Additional packages to install not set\n" -}}
# {{- end -}}

# {{-   writeToStdout "\n💡 Tip: you can always config your dotfiles interactively by running `dotfiles-update|dotu init`.\n" -}}

# {{- /* This retains the value passed with --source on chezmoi init, which is used in the ../install.sh script */ -}} #
sourceDir: "{{ .chezmoi.workingTree }}"

destDir: "/"

verbose: {{ $verbose | not | not }}

diff:
  exclude:
    - always
status:
  exclude:
    - always

# {{- /* Here we "export" the variables, so we can access them outside this file */ -}} #
data:
  editor: "vi"
  system:
    auto_update: {{ $auto_update }}
    upgrade_packages: {{ $upgrade_packages }}
    verbose: {{ $verbose }}
    hostname: {{ $hostname | quote }}
    is_wsl: {{ $wsl }}
    is_devcontainer: {{ $devcontainer }}
    is_gnome: {{ $gnome }}
    is_interactive: {{ $interactive }}
    uname_arch: {{ output "uname" "-m" | trim | quote }}
    cpu:
      cores: {{ $cpuCores }}
      threads: {{ $cpuThreads }}
  docker:
    repo: {{ $dockerfiles_repo | quote }}
    share_dir: {{ $dockerfiles_share_dir | quote }}
    global_env_filename: {{ $docker_global_env_filename | quote }}
    secret_env_filename: {{ $docker_secret_env_filename | quote }}
    username: {{ $docker_username | quote }}
    container_registry: {{ $docker_container_registry | quote }}
  ngrok:
    enabled: {{ $use_ngrok }}
    authtoken: {{ $ngrok_authtoken | quote }}
    config_file: {{ $ngrok_config_file | quote }}
    ssh_port: {{ $ngrok_ssh_port | quote }}
  cloudflared:
    enabled: {{ $use_cloudflared }}
    config_file: {{ $cloudflared_config_file | quote }}
    config_template: {{ $cloudflared_config_template | quote }}
    tunnel_hostname: {{ $cloudflared_tunnel_hostname | quote }}
    tunnel_name: {{ $cloudflared_tunnel_name | quote }}
    tunnel_uuid: {{ $cloudflared_tunnel_uuid | quote }}
    credentials_file: {{ $cloudflared_credentials_file | quote }}
  install_packages:
    user: {{ $pkgs_user }}
  workspace:
    name: {{ $workspace_name | quote }}
    location: {{ $workspace_location | quote }}
    root: {{ $workspace_root | quote }}
    home: {{ $workspace_home | quote }}
    move_existing: true
    symlink_to_home: {{ $symlink_to_home }}
    symlink_colab_workspace: {{ $symlink_colab_workspace }}
    colab_drive: "/content/drive/MyDrive"
    project_dir: {{ $project_dir | quote }}
    reference_dir: {{ $reference_dir | quote }}
    container_dir: {{ $container_dir | quote }}
    model_dir: {{ $model_dir | quote }}
    dataset_dir: {{ $dataset_dir | quote }}
