# {{- $chezmoiForce := or (has "--force" .chezmoi.args) (has "--force=true" .chezmoi.args) -}}
# {{- $interactive := and stdinIsATTY (not $chezmoiForce) -}}
# {{- $ubuntu := hasKey .chezmoi.osRelease "ubuntuCodename" -}}
# {{- $wsl := or (env "WSL_DISTRO_NAME") (env "IS_WSL") | not | not -}}
# {{- $devcontainer := or (env "REMOTE_CONTAINERS") (env "CODESPACES") (env "VSCODE_REMOTE_CONTAINERS_SESSION") (env "GITPOD_HOST") | not | not -}}
# {{- $gnome := lookPath "gnome-shell" | not | not -}}
# {{- $cpuCores := 1 -}}
# {{- $cpuThreads := 1 -}}
# {{- if eq .chezmoi.os "darwin" -}}
# {{-   $cpuCores = (output "sysctl" "-n" "hw.physicalcpu_max") | trim | atoi -}}
# {{-   $cpuThreads = (output "sysctl" "-n" "hw.logicalcpu_max") | trim | atoi -}}
# {{- else if eq .chezmoi.os "linux" -}}
# {{-   $cpuCores = (output "sh" "-c" "lscpu --online --parse | grep --invert-match '^#' | sort --field-separator=',' --key='2,4' --unique | wc --lines") | trim | atoi -}}
# {{-   $cpuThreads = (output "sh" "-c" "lscpu --online --parse | grep --invert-match '^#' | wc --lines") | trim | atoi -}}
# {{- else if eq .chezmoi.os "windows" -}}
# {{-   $cpuCores = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "(Get-CimInstance -ClassName 'Win32_Processor').NumberOfCores") | trim | atoi -}}
# {{-   $cpuThreads = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "(Get-CimInstance -ClassName 'Win32_Processor').NumberOfLogicalProcessors") | trim | atoi -}}
# {{- end -}}

# {{- $upgrade_packages := false -}}
# {{- if and (hasKey . "system") (hasKey .system "upgrade_packages") -}}
# {{-   $upgrade_packages = .system.upgrade_packages -}}
# {{- else -}}
# {{-   if eq (env "DOTFILES_UPGRADE_PACKAGES") "true" "True" "TRUE" "1" -}}
# {{-     $upgrade_packages = true -}}
# {{-   end -}}
# {{- end -}}

# {{- $verbose := false -}}
# {{- if and (hasKey . "system") (hasKey .system "verbose") -}}
# {{-   $verbose = .system.verbose | not | not -}}
# {{- else -}}
# {{-   if eq (env "DOTFILES_VERBOSE") "true" "True" "TRUE" "1" -}}
# {{-     $verbose = true -}}
# {{-   end -}}
# {{- end -}}

# {{- $hostname := or (env "SYSTEM_HOSTNAME") .chezmoi.hostname -}}
# {{- if and (hasKey . "system") (hasKey .system "hostname") .system.hostname -}}
# {{-   $hostname = .system.hostname -}}
# {{- end -}}

# {{- $non_root_user:= "" -}}
# {{- if and (hasKey . "non_root_user") .non_root_user -}}
# {{-   $non_root_user = .non_root_user -}}
# {{- end -}}

# {{- $python_version := "3.10" -}}
# {{- if and (hasKey . "python") (hasKey .python "version") .python.version -}}
# {{-   $python_version = .python.version -}}
# {{- end -}}

# {{- $dataspace_location := "/raid/" -}}
# {{- $dataspace_name := "data" -}}
# {{- $datapace_root := joinPath $dataspace_location $dataspace_name -}}
# {{- $symlink_dataspace := false -}}
# {{- if and (hasKey . "dataspace") (hasKey .dataspace "symlink_dataspace") -}}
# {{-   $symlink_dataspace = .dataspace.symlink_dataspace -}}
# {{- end -}}
# {{- $docker_image_dir := joinPath .chezmoi.homeDir ".local/share/dockerfiles" -}}

# {{- $use_cloudflared := false -}}
# {{- if eq (env "DOTFILES_USE_CLOUDFLARED") "true" "True" "TRUE" "1" -}}
# {{-   $use_cloudflared = true -}}
# {{- end -}}
# {{- if and (hasKey . "cloudflared") (hasKey .cloudflared "enabled") -}}
# {{-   $use_cloudflared = .cloudflared.enabled -}}
# {{- end -}}
# {{- $cloudflared_tunnel_uuid := or (env "CLOUDFLARED_TUNNEL_UUID") "" -}}
# {{- if and (hasKey . "cloudflared") (hasKey .cloudflared "tunnel_uuid") -}}
# {{-   $cloudflared_tunnel_uuid = .cloudflared.tunnel_uuid -}}
# {{- end -}}
# {{- $cloudflared_tunnel_name := or (env "CLOUDFLARED_TUNNEL_NAME") "" -}}
# {{- if and (hasKey . "cloudflared") (hasKey .cloudflared "tunnel_name") -}}
# {{-   $cloudflared_tunnel_name = .cloudflared.tunnel_name -}}
# {{- end -}}
# {{- $cloudflared_tunnel_hostname := or (env "CLOUDFLARED_TUNNEL_HOSTNAME") "" -}}
# {{- if and (hasKey . "cloudflared") (hasKey .cloudflared "tunnel_hostname") -}}
# {{-   $cloudflared_tunnel_hostname = .cloudflared.tunnel_hostname -}}
# {{- end -}}
# {{- $cloudflared_config_file := or (env "CLOUDFLARED_CONFIG") (joinPath .chezmoi.homeDir ".cloudflared/config.yml") -}}
# {{- $cloudflared_config_template := (joinPath .chezmoi.homeDir ".cloudflared/config.tmp") -}}
# {{- $cloudflared_credentials_file := "" -}}

# {{- $dotfiles_version := or (env "DOTFILES_VERSION") "N/A" -}}
# {{- writeToStdout "---\n" -}}
# {{- writeToStdout "🖥️  Information found in your system environment variables:\n" -}}
# {{- writeToStdout (printf "🏠  SYSTEM_HOSTNAME: %s\n" $hostname) -}}
# {{- writeToStdout (printf "🔬  DOTFILES_VERBOSE: %t\n" ($verbose | not | not)) -}}
# {{- writeToStdout "---\n" -}}

# {{- if $interactive -}}
# {{-   $question := "❔ Do you want to upgrade packages if needed" -}}
# {{-   $upgrade_packages = promptBool $question $upgrade_packages -}}
# {{- end -}}
# {{- if $upgrade_packages -}}
# {{-   writeToStdout "✅  Upgrade packages enabled\n" -}}
# {{- else -}}
# {{-   writeToStdout "❎  Upgrade packages disabled\n" -}}
# {{- end -}}

# {{- if $interactive -}}
# {{-   $question := "❔ Do you want to enable verbose mode" -}}
# {{-   $verbose = promptBool $question $verbose -}}
# {{- end -}}
# {{- if $verbose -}}
# {{-   writeToStdout "✅  Verbose mode enabled\n" -}}
# {{- else -}}
# {{-   writeToStdout "❎  Verbose mode disabled\n" -}}
# {{- end -}}

# {{- if $interactive -}}
# {{-   range $i := until 99 -}}
# {{-     $question := "❔ What is hostname" -}}
# {{-     $answer := "" -}}
# {{-     if $hostname -}}
# {{-       $answer = promptString $question $hostname -}}
# {{-     else -}}
# {{-       $answer = promptString $question -}}
# {{-     end -}}
# {{-     if regexMatch "^[A-Za-z0-9._-]+$" $answer -}}
# {{-       $hostname = $answer -}}
# {{-       break -}}
# {{-     end -}}
# {{-     writeToStdout (printf "❌ '%s' is an invalid hostname\n" $answer) -}}
# {{-     if eq $i 98 -}}
# {{-       writeToStdout "❌ ERROR: maximum tries exceeded\n" -}}
# {{-       exit 1 -}}
# {{-     end -}}
# {{-   end -}}
# {{- end -}}
# {{- writeToStdout (printf "✅  Hostname set as '%s'\n" $hostname) -}}

# {{- if $interactive -}}
# {{-     $question := "❔ What version of Python do you want to use" -}}
# {{-     $answer := "" -}}
# {{-     if $python_version -}}
# {{-       $answer = promptString $question $python_version -}}
# {{-     else -}}
# {{-       $answer = promptString $question -}}
# {{-     end -}}
# {{- end -}}
# {{- writeToStdout (printf "✅  Python version set as '%s'\n" $python_version) -}}

# {{- if $interactive -}}
# {{-   range $i := until 99 -}}
# {{-     $question := "❔ What is non root username" -}}
# {{-     $answer := "" -}}
# {{-     if $non_root_user -}}
# {{-       $answer = promptString $question $non_root_user -}}
# {{-     else -}}
# {{-       $answer = promptString $question -}}
# {{-     end -}}
# {{-     if regexMatch "^[A-Za-z0-9_-]+$" $answer -}}
# {{-       $non_root_user = $answer -}}
# {{-       break -}}
# {{-     end -}}
# {{-     writeToStdout (printf "❌ '%s' is an invalid username\n" $answer) -}}
# {{-     if eq $i 98 -}}
# {{-       writeToStdout "❌ ERROR: maximum tries exceeded\n" -}}
# {{-       exit 1 -}}
# {{-     end -}}
# {{-   end -}}
# {{- end -}}
# {{- writeToStdout (printf "✅  Non root username set as '%s'\n" $non_root_user) -}}

# {{- if $interactive -}}
# {{-   $question := "❔ Where do you want to put data of the users" -}}
# {{-   $answer := "" -}}
# {{-   if $dataspace_location -}}
# {{-     $answer = promptString $question $dataspace_location -}}
# {{-   else -}}
# {{-     $answer = promptString $question -}}
# {{-   end -}}
# {{-   $dataspace_location = $answer -}}
# {{- end -}}
# {{- writeToStdout (printf "✅  Data location set as '%s'\n" $dataspace_location) -}}

# {{- $datapace_root = joinPath $dataspace_location $dataspace_name -}}
# {{-   writeToStdout (printf "✅  Dataspace root set as '%s'\n" $datapace_root) -}}

# {{- if $interactive -}}
# {{-   $question := "❔ Do you want to symlink dataspace to the root" -}}
# {{-   $symlink_dataspace = promptBool $question $symlink_dataspace -}}
# {{- end -}}
# {{- if $symlink_dataspace -}}
# {{-   writeToStdout "✅  Dataspace symlinked to the root\n" -}}
# {{- else -}}
# {{-   writeToStdout "❎  Dataspace not symlinked\n" -}}
# {{- end -}}

# {{- if $use_cloudflared -}}
# {{-   writeToStdout "✅  cloudflared enabled\n" -}}
# {{- else -}}
# {{-   writeToStdout "❎  cloudflared disabled\n" -}}
# {{- end -}}

# {{- $pkgs_user := "" -}}
# {{- if $use_cloudflared -}}
# {{-   $pkgs_user = printf "%s cloudflared" $pkgs_user -}}
# {{- end -}}

# {{- /* This retains the value passed with --source on chezmoi init, which is used in the ../install.sh script */ -}} #
sourceDir: "{{ .chezmoi.workingTree }}"

destDir: "/"

verbose: {{ $verbose | not | not }}

diff:
  exclude:
    - always
status:
  exclude:
    - always

# {{- /* Here we "export" the variables, so we can access them outside this file */ -}} #
data:
  non_root_user: {{ $non_root_user }}
  editor: "vi"
  python:
    version: "{{ $python_version }}"
  system:
    upgrade_packages: {{ $upgrade_packages }}
    verbose: {{ $verbose }}
    hostname: {{ $hostname | quote }}
    is_wsl: {{ $wsl }}
    is_devcontainer: {{ $devcontainer }}
    is_gnome: {{ $gnome }}
    is_interactive: {{ $interactive }}
    uname_arch: {{ output "uname" "-m" | trim | quote }}
    cpu:
      cores: {{ $cpuCores }}
      threads: {{ $cpuThreads }}
  cloudflared:
    enabled: {{ $use_cloudflared }}
    config_file: {{ $cloudflared_config_file | quote }}
    config_template: {{ $cloudflared_config_template | quote }}
    tunnel_hostname: {{ $cloudflared_tunnel_hostname | quote }}
    tunnel_name: {{ $cloudflared_tunnel_name | quote }}
    tunnel_uuid: {{ $cloudflared_tunnel_uuid | quote }}
    credentials_file: {{ $cloudflared_credentials_file | quote }}
  install_packages:
    user: {{ $pkgs_user }}
  dataspace:
    name: {{ $dataspace_name | quote }}
    root: {{ $datapace_root | quote }}
    move_existing: true
    symlink_dataspace: {{ $symlink_dataspace }}
    docker_image_dir: {{ $docker_image_dir | quote }}
