#!/bin/bash
# {{ template "scripts-library" }}
log_task "Rootmoi: 10. Configuring user"

# create user if not exists
if ! getent passwd '{{ .non_root_user }}' >/dev/null; then
  log_task "Creating user '{{ .non_root_user }}'"
  c useradd -m '{{ .non_root_user }}'

  # Set default password for user same as username
  echo '{{ .non_root_user }}:{{ .non_root_user }}' | chpasswd

  # Configure user's shell
  zsh_path="/bin/zsh"
  if ! getent passwd '{{ .non_root_user }}' | cut -d : -f 7- | grep -q "^${zsh_path}$"; then
    log_task "Configuring ZSH as default shell"
    c usermod --shell "${zsh_path}" '{{ .non_root_user }}'
  fi
fi

file='/etc/sudoers.d/{{ .non_root_user }}'
file_contents='{{ .non_root_user }}  ALL=(ALL) NOPASSWD:ALL'
if [[ ! -f "${file}" ]] || ! grep -q "${file_contents}" "${file}"; then
  log_task 'Configuring passwordless sudo for {{ .non_root_user }}'
  echo "${file_contents}" >"${file}"
fi
log_task 'Setting permissions on sudoers.d/{{ .non_root_user }}'
c chmod 0440 "${file}"
unset file file_contents

# shellcheck disable=SC2312
if ! getent group docker | grep -q '\b{{ .non_root_user }}\b'; then
  log_task 'Adding {{ .non_root_user }} to docker group'
  usermod -aG docker '{{ .non_root_user }}'
fi
