#!/bin/bash
# {{ template "scripts-library" }}

# shellcheck source=/dev/null
DATASPACE_NAME=${DATASPACE_NAME:-"{{ .dataspace.name }}"}
DATASPACE_LOCATION=${DATASPACE_LOCATION:-"{{ .dataspace.location }}"}
NON_ROOT_USER=${NON_ROOT_USER:-"{{ .non_root_user }}"}

SYMLINK_DATASPACE_DIR=${SYMLINK_DATASPACE_DIR:-"{{ .dataspace.colab_drive }}"}
SYMLINK_DATASPACE=${SYMLINK_DATASPACE:-"{{ .dataspace.symlink_dataspace }}"}
MOVE_EXISTING=${MOVE_EXISTING:-"{{ .dataspace.move_existing }}"}
DATASPACE_DIR="${DATASPACE_LOCATION}/${DATASPACE_NAME}"

if [[ ! -d "${DATASPACE_DIR}" ]]; then
    log_task "Creating dataspace directory: ${DATASPACE_DIR}"
    c mkdir -p "${DATASPACE_DIR}"
else
    log_info "Dataspace directory already exists: ${DATASPACE_DIR}"
fi

# symlink to root
if [[ "${SYMLINK_DATASPACE}" == "true" ]]; then
    log_task "Symlinking dataspace to root directory: ${DATASPACE_DIR} -> ${SYMLINK_DATASPACE_DIR}"
    if [[ -d "${SYMLINK_DATASPACE_DIR}" && ! -L "${SYMLINK_DATASPACE_DIR}" ]]; then
        log_error "Dataspace already exists: ${SYMLINK_DATASPACE_DIR}"
        exit 1
    fi
    if [[ ! -L "${SYMLINK_DATASPACE_DIR}" ]]; then
        c ln -s "${DATASPACE_DIR}" "${SYMLINK_DATASPACE_DIR}"
    else
        log_info "Dataspace symlink already exists: ${SYMLINK_DATASPACE_DIR}"
        log_task "Removing existing symlink: ${SYMLINK_DATASPACE_DIR}"
        c rm "${SYMLINK_DATASPACE_DIR}"
        log_task "Creating new symlink: ${SYMLINK_DATASPACE_DIR}"
        c ln -s "${DATASPACE_DIR}" "${SYMLINK_DATASPACE_DIR}"
    fi
fi

log_green "✅  Dataspace setup complete"
