#!/bin/bash
# {{- template "scripts-library" }}
log_task "Rootmoi: 00. Installing prerequisites"
# {{- template "install-apt-prerequisites" }}
c apt-get install --yes -qq -o=Dpkg::Use-Pty=0 --no-install-recommends "python{{ .python.version }}"
